= button_to text, path, { action: :patch,
                          remote: true,
                          format: :json,
                          method: :patch,
                          class: "btn #{btn_class} mr-1",
                          data: { confirm: "#{text}! Are you sure?" },
                          form: { class: "#{text.underscore}_quest_solution" } }
