. class='row justify-content-center'
  . class='col text-center'
    h2= 'Sign up'

. class='row justify-content-center'
  . class='col col-4'
    = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = devise_error_messages!

      .form-group
        = f.text_field :name, autocomplete: 'name',
                              autofocus: true,
                              placeholder: 'Name',
                              class: 'form-control small'

      .form-group
        = f.text_field :surname, autocomplete: 'surname',
                                 placeholder: 'Surname',
                                 class: 'form-control small'

      .form-group
        = f.email_field :email, autocomplete: 'email',
                                placeholder: 'Email',
                                class: 'form-control small'

      .form-group
        - if @minimum_password_length
          em.small= "(#{@minimum_password_length} characters minimum)"

        = f.password_field :password, autocomplete: 'off',
                                      placeholder: 'Password',
                                      class: 'form-control small'

      .form-group
        = f.password_field :password_confirmation, autocomplete: 'off',
                                                   placeholder: 'Confirm password',
                                                   class: 'form-control small'

      . class='form-group text-center'
        = f.submit 'Sign up', class: 'btn btn-primary'

. class='row justify-content-center small'
  . class='col col-4'
    = render "devise/shared/links"
