- if passage.solutions.all_declined.any?
  = page_header(t('.declined_solutions'))
  - passage.solutions.all_declined.each do |solution|
    = simple_card(title: '', body: solution.decorate.body_html)
