/! Main Quill library
= javascript_include_tag "//cdn.quilljs.com/#{version}/quill.min.js"
/! = javascript_include_tag "//cdn.quilljs.com/#{version}/quill.js"

/! Theme included stylesheets
= stylesheet_link_tag "//cdn.quilljs.com/#{version}/quill.snow.css"
= stylesheet_link_tag "//cdn.quilljs.com/#{version}/quill.bubble.css"

/! Core build with no theme, formatting, non-essential modules
/! = stylesheet_link_tag "//cdn.quilljs.com/#{version}/quill.core.css"
/! = javascript_include_tag "//cdn.quilljs.com/#{version}/quill.core.js"
