footer.footer
  .container
    . class='row align-items-center flex-row-reverse'
      . class='col-auto ml-lg-auto'
        . class='row align-items-center'
          .col-auto
            = link_to 'Source code',
                      '//github.com/rusdec/ilms',
                      class: 'btn btn-outline-primary btn-sm',
                      target: '_blank'
      . class='col-12 col-lg-auto mt-3 mt-lg-0 text-center'
        = '2018'
